@use "../../scss/global" as *;

.tarea {
    @include ToDo(transparent, $tercero, $segundo);
    box-shadow: 0 0 20px $segundo;

    .icon {
        font-size: 30px;
        cursor: pointer;
        transition: color 0.3s ease;
    }

    .icon-active {
        color: green;

        & + p {
            text-decoration: line-through;
        }
    }
    
    .icon-delete:hover {
        color: red;
    }
    
    .texto {
        font-size: calc(15px + .5vw);
        font-family: $texto;
        color: $quinto;
    }
}


