:root {
    --primero: #F6F1F1;
    --segundo: #AFD3E2;
    --tercero: #19A7CE;
    --cuarto: #146C94;
    --quinto: #0f0202;
    --texto: 'Lato', sans-serif;
}

li {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    place-items: center;
    gap: 20px;
    border: 3px solid var(--tercero);
    box-shadow: 0 0 10px var(--segundo);
}

.icon {
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.icon-active {
    color: green;
}

.icon-active + p {
    text-decoration: line-through;
}

.icon-delete:hover {
    color: red;
}

p {
    font-size: calc(10px + 1.5vw);
    font-family: var(--texto);
    color: var(--quinto);
}