:root {
    --primero: #F6F1F1;
    --segundo: #AFD3E2;
    --tercero: #19A7CE;
    --cuarto: #146C94;
    --quinto: #0f0202;
    --texto: 'Lato', sans-serif;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    margin: 10px;
}