@use "../../scss/global" as *;

.loading-Todo {
    @include ToDo($loading, $loading, $loading);
    animation: 0.5s cargando ease infinite alternate;
    opacity: 0.5;

    span {
        padding: 32.5px;
    }
}

@keyframes cargando {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}