@use "../../scss/global" as *;

.newTodo {
    position: fixed;
    z-index: 10;
    bottom: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 50%;
    background-color: $tercero;  
    box-shadow: 0 0 10px $segundo; 
    color: $primero;
    cursor: pointer;
    transition: transform .5s ease, box-shadow .5s ease;
    
    
    
    .icon {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 40px;
        color: $primero
    }

    @media (hover: hover) {
        &:hover {
            box-shadow: 0 0 30px $tercero;
            transform: rotate(225deg);
        }
    }

    @media (min-width: 900px) {
        bottom: 50px;
        right: 50px;
    }
}

.activo {
    box-shadow: 0 0 30px $tercero;
    transform: rotate(225deg);
}


