@use "../../scss/global" as *;

.error-Todo {
    @include ToDo($error, $error, $error);

    span {
        padding: 32.5px;
    }

    p {
        font-size: calc(15px + .5vw);
        font-family: $texto;
        color: $quinto;
    }
}