@use "../../scss/global" as *;

.error-Todo {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    place-items: center;
    gap: 20px;
    border: 3px solid $error;
    box-shadow: 0 0 10px $error;
    border-radius: 100px;
    background-color: $error;

    span {
        padding: 32.5px;
    }

    p {
        font-size: calc(15px + .5vw);
        font-family: $texto;
        color: $quinto;
    }
}