@use "../../scss/global" as *;

.matches-Todo {
    @include ToDo($no-matches, $no-matches, $no-matches);

    span {
        padding: 32.5px;
    }

    p {
        font-size: calc(15px + .5vw);
        font-family: $texto;
        color: $primero;
    }
}