@use "../../scss/global" as *;

.mensaje {
    @include ToDo($tercero, $tercero, $tercero);
    grid-template-columns: 1fr;
    box-shadow: none;
    position: fixed;
    z-index: 10;
    top: -150px;
    left: 0;
    right: 0;
    margin: auto;
    width: clamp(200px, 50%, 400px);
    height: auto;
    transition: transform .5s ease;

    p {
        font-size: calc(15px + .5vw);
        font-weight: bold;
        font-family: $texto;
        text-align: center;
        color: $quinto;
    }
}

.mostrar {
    transform: translateY(160px);
}