@use "../../scss/global" as *;
$color-opacity: #a3ed67;

.empty-Todo {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    place-items: center;
    gap: 20px;
    border: 3px solid $color-opacity;
    box-shadow: 0 0 10px $color-opacity;
    border-radius: 100px;
    background-color: $color-opacity;

    span {
        padding: 32.5px;
    }

    p {
        font-size: calc(15px + .5vw);
        font-family: $texto;
        color: $quinto;
    }
}