@use "../../scss/global" as *;

.empty-Todo {
    @include ToDo($empty, $empty, $empty);

    span {
        padding: 32.5px;
    }

    p {
        font-size: calc(15px + .5vw);
        font-family: $texto;
        color: $quinto;
    }
}