@use "../../scss/global" as *;

.todo__category {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 0 20px;
    width: 100%;

    &__button {
        padding: 8px 16px;
        border-radius: 10px;
        border: none;
        background-color: $segundo;
        color: $quinto;
        font-family: $texto;
        font-size: calc(10px + .5vw);
        transition: transform .3s ease, box-shadow .3s ease;

        @media (hover: hover) {
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }
}

.selected {
    background-color: $tercero;
}