$primero: #F6F1F1;
$segundo: #AFD3E2;
$tercero: #19A7CE;
$cuarto: #146C94;
$quinto: #0f0202;
$texto: 'Lato', sans-serif;

$loading: #abccd7;
$error: #ff6739;
$empty: #a3ed67;
$no-matches: #858982;

body {
    margin: 0 auto;
    padding: 0;
    background-color: var(--primero);
    max-width: 600px;
}

* {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    background-color: $segundo;
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: $cuarto;
    border-radius: 10px;
}

@mixin ToDo($color, $color2, $color3) {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    place-items: center;
    gap: 20px;
    background-color: $color;
    border: 3px solid $color2;
    border-radius: 100px;
    box-shadow: 0 0 10px $color3;
}