@use "./global" as *;

.search {
    display: block;
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    border: none;
    border-radius: 1000px;
    box-shadow: 0 0 10px $segundo;
    font-size: calc(15px + .5vw);
    transition: box-shadow 0.3s ease;

    &:focus {
        outline: none;
        box-shadow: 0 0 30px $tercero;
    }
}
