@use "./global" as *;

.tarea {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    place-items: center;
    gap: 20px;
    border: 3px solid $tercero;
    box-shadow: 0 0 10px $segundo;

    .icon {
        font-size: 40px;
        cursor: pointer;
        transition: color 0.3s ease;
    }

    .icon-active {
        color: green;

        & + p {
            text-decoration: line-through;
        }
    }
    
    .icon-delete:hover {
        color: red;
    }
    
    .texto {
        font-size: calc(15px + .5vw);
        font-family: $texto;
        color: $quinto;
    }
}


